[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitcommitlogger = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
Pillow = "*"

[dev-packages]
pytest = "*"
flake8 = "*"  # Added Flake8 for linting support

[requires]
python_version = "3"
