[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitcommitlogger = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"
pet = {file = ".", editable = true}

[dev-packages]
pytest = "*"
twine = "*"
exceptiongroup = "*"
build = "*"

[requires]
python_version = ">=3.9"
