[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
examplepackagefb1258 = {version = "==0.0.7", index = "testpypi"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
